/*
    style.cpp
    Matthew Lord
    CIS119
    4/9/18
    style sheet for assignment 8
*/
body{
    background-color: #FFFFFF;
    padding-top: 0.5em;
    padding-left: 1em;
}
h1{
    font-size: 3em;
    padding-top: 0.3em;
}
td{
    padding-top: 0.3em;
} 
#error{
    display: none;
}
#errors p{
    padding-top: 0.3em;
}

#nameError{
    display: none;
}
#ageError{
    display: none;
}
#zipError{
    display: none;
}
#passError{
    display: none;
}